body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.title {
  color: brown;
}
.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Left panel */
.container {
  width: 30%;
  padding: 20px;
  background: #0b0f1a;

  color: white;
  box-sizing: border-box;
  justify-items: center;
  text-align: center;
}

/* Cesium map */
.map {
  width: 70%;
  height: 100%;
}
.buttons {
  color: #ffffff;
  background-color: palevioletred;
  border-radius: 6px;
  height: 50px;
}
.textbox {
  margin-top: 20px;
}
.tle-form {
  display: grid;
  grid-template-columns: 140px 1fr;
  row-gap: 14px;
  column-gap: 12px;
  align-items: center;
}

.labels {
  text-align: right;
  font-weight: 500;
}

.textbox {
  width: 100%;
  padding: 6px;
  resize: none;
}

.buttons {
  grid-column: 2;
  margin-top: 10px;
  padding: 8px 5px;
  font-weight: bold;
}

/* .labels {
  padding-right: 30px;
} */
